.DS_Store
**/.DS_Store

*.o
**/*.o

*.a
**/*.a

*.dylib
**/*.dylib

*.tmp
**/*.tmp

xcrun/xcrun
xcode-select/xcode-select
xcodebuild/xcodebuild
pkgbuild/pkgbuild
notarytool/notarytool
productbuild/productbuild
xctrace/xctrace
simctl/simctl
devicectl/devicectl
productbuild/productbuild_debug
*/productbuild_debug
codesign/codesign
*.dSYM
**/*.dSYM
