[submodule "llvm-project"]
	path = src/llvm-project
	url = https://github.com/xnuports/llvm-project.git
	branch = swift/release/6.4.x
[submodule "PlistBuddy"]
	path = src/PlistBuddy
	url = https://github.com/xnuports/PlistBuddy
[submodule "xctoolchain"]
	path = xctoolchain
	url = https://github.com/xnuports/xctoolchain.git
[submodule "distribution-Developer_Tools"]
	path = src/dist-dev-tools
	url = https://github.com/xnuports/distribution-Developer_Tools.git
[submodule "swift"]
	path = src/swift
	url = https://github.com/xnuports/swift.git
[submodule "src/objc4"]
	path = src/objc4
	url = https://github.com/xnuports/objc4.git
[submodule "src/Python"]
	path = src/python-apple-support
	url = https://github.com/xnuports/Python-Apple-support/
[submodule "include/ld-internals"]
	path = include/ld-internals
	url = https://github.com/xnuports/ld-internals.git
[submodule "src/cpython"]
	path = src/cpython
	url = https://github.com/xnuports/cpython.git
	branch = 3.14
[submodule "src/git"]
	path = src/git
	url = https://github.com/xnuports/git
[submodule "src/pngcrush"]
	path = src/pngcrush
	url = https://github.com/xnuports/pngcrush.git
[submodule "lib/libplatform"]
	path = lib/libplatform
	url = https://github.com/xnuports/libplatform.git
[submodule "lib/corecrypto"]
	path = lib/corecrypto
	url = https://github.com/xnuports/corecrypto.git
[submodule "lib/dyld"]
	path = lib/dyld
	url = https://github.com/xnuports/dyld.git
