[submodule "llvm-project"]
	path = src/swiftlang-llvm/llvm-project
	url = https://github.com/swiftlang/llvm-project.git
	branch = swift/release/6.3
[submodule "openxc-tools/PlistBuddy"]
	path = src/openxc-tools/PlistBuddy
	url = https://github.com/xnuports/PlistBuddy
[submodule "apple-oss-distributions/distribution-Developer_Tools"]
	path = src/apple-oss-distributions/distribution-Developer_Tools
	url = https://github.com/apple-oss-distributions/distribution-Developer_Tools.git
	branch = rel/Developer_Tools-26
[submodule "swiftlang-llvm/swift"]
	path = src/swiftlang-llvm/swift
	url = https://github.com/swiftlang/swift.git
[submodule "apple-oss-distributions/objc4"]
	path = src/apple-oss-distributions/objc4
	url = https://github.com/apple-oss-distributions/objc4.git
	branch = rel/objc4-951
[submodule "python/python-apple-support"]
	path = src/python/python-apple-support
	url = https://github.com/xnuports/Python-Apple-support/
[submodule "include/ld-internals"]
	path = include/ld-internals
	url = https://github.com/xnuports/ld-internals.git
[submodule "python/cpython"]
	path = src/python/cpython
	url = https://github.com/python/cpython.git
	branch = 3.14
[submodule "openxc-tools/pngcrush"]
	path = src/openxc-tools/pngcrush
	url = https://github.com/xnuports/pngcrush.git
[submodule "lib/libplatform"]
	path = lib/libplatform
	url = https://github.com/apple-oss-distributions/libplatform.git
	branch = libplatform-375.120.2
[submodule "lib/corecrypto"]
	path = lib/corecrypto
	url = https://github.com/apple/corecrypto.git
	branch = 2026-05
[submodule "lib/dyld"]
	path = lib/dyld
	url = https://github.com/apple-oss-distributions/dyld.git
	branch = dyld-1378
[submodule "lib/libdispatch"]
	path = lib/libdispatch
	url = https://github.com/apple-oss-distributions/libdispatch.git
	branch = libdispatch-1542.100.32
[submodule "lib/apple_internal_sdk"]
	path = lib/apple_internal_sdk
	url = https://github.com/xnuports/apple_internal_sdk.git
[submodule "extras/bsdmake"]
	path = src/extras/bsdmake
	url = https://github.com/apple-oss-distributions/bsdmake
[submodule "extras/bmake"]
	path = src/extras/bmake
	url = https://github.com/xnuports/bmake.git
[submodule "src/git"]
	path = src/git
	url = https://github.com/git/git.git
[submodule "openxc-tools/vmmap"]
	path = src/openxc-tools/vmmap
	url = https://github.com/xnuports/vmmap.git
[submodule "swiftlang-llvm/swift-cmark"]
	path = src/swiftlang-llvm/swift-cmark
	url = https://github.com/swiftlang/swift-cmark
[submodule "src/src/swiftlang-llvm/swift-syntax"]
	path = src/swiftlang-llvm/swift-syntax
	url = https://github.com/swiftlang/swift-syntax
[submodule "src/swiftlang-llvm/swift-experimental-string-processing"]
	path = src/swiftlang-llvm/swift-experimental-string-processing
	url = https://github.com/swiftlang/swift-experimental-string-processing
[submodule "lib/libc"]
	path = lib/libc
	url = https://github.com/apple-oss-distributions/Libc
[submodule "lib/libpthread"]
	path = lib/libpthread
	url = https://github.com/apple-oss-distributions/libpthread
[submodule "lib/libmalloc"]
	path = lib/libmalloc
	url = https://github.com/apple-oss-distributions/libmalloc
[submodule "lib/libclosure"]
	path = lib/libclosure
	url = https://github.com/apple-oss-distributions/libclosure
[submodule "lib/commoncrypto"]
	path = lib/commoncrypto
	url = https://github.com/apple-oss-distributions/CommonCrypto
[submodule "src/apple-oss-distributions/copyfile"]
	path = src/apple-oss-distributions/copyfile
	url = https://github.com/apple-oss-distributions/copyfile
[submodule "src/apple-oss-distributions/removefile"]
	path = src/apple-oss-distributions/removefile
	url = https://github.com/apple-oss-distributions/removefile
[submodule "lib/libutil"]
	path = lib/libutil
	url = https://github.com/apple-oss-distributions/libutil
